[submodule "third_party/patches"]
	path = third_party/patches
	url = https://github.com/jzrake/patches.git
[submodule "third_party/ndarray"]
	path = third_party/ndarray
	url = https://github.com/jzrake/ndarray.git
[submodule "third_party/JUCE"]
	path = third_party/JUCE
	url = https://github.com/WeAreROLI/JUCE.git
[submodule "third_party/ndh5"]
	path = third_party/ndh5
	url = https://github.com/jzrake/ndh5.git
[submodule "third_party/embed-hdf5-macos"]
	path = third_party/embed-hdf5-macos
	url = https://github.com/jzrake/embed-hdf5-macos.git
[submodule "third_party/embed-yaml-macos"]
	path = third_party/embed-yaml-macos
	url = https://github.com/jzrake/embed-yaml-macos.git
